<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gradiometer_app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 12+ runtime permission: BLUETOOTH_CONNECT -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- location may be required by some Android versions to scan/pair -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- storage for saving .gnd and csv files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="Gradiometer Companion"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
