name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.10.0
        with:
          channel: 'stable'

      - name: Check Flutter version
        run: flutter --version

      - name: Accept Android Licenses
        run: yes | flutter doctor --android-licenses

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (release)
        env:
          JAVA_HOME: /opt/hostedtoolcache/Java/temurin-11-*/x64
        run: flutter build apk --release --no-shrink

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradiometer-apk
          path: build/app/outputs/flutter-apk/app-release.apk
